* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* customization */

:root {
    /* primary colors */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-Blue: hsl(238, 22%, 44%);

    /* accent */ 
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    /* neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    /* shadow */
    --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.2), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.1);
}

body, html {
    font-family: 'Open Sans', sans-serif;
    color: var(--very-dark-blue);
    font-weight: 400px;
    font-size: 13px;
    background-color: var(--light-grayish-blue);
}

.wrapper {
    display: grid;
    grid-gap: 2rem;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-weight: 'Raleway', sans-serif;
    font-weight: 700;
}

button {
    transition-duration: 0.5s;
    transition-delay: 0.3s;
    opacity: 0.9;
}

button:hover {
    box-shadow: var(--bs);
    opacity: 1;
}

/* navigation bar */



.main--nav {
    display: flex;
    padding: 2em 1.5em;
    justify-content: space-between;
    align-items: center;
}

.main--nav .nav--logo {
    flex-basis: 30%;
}

.main--nav ul {
    flex-basis: 70%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.main--nav ul > li +li {
    margin-left: 15px;
}

.main--nav ul a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: var(--bright-blue);
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}




/* the intoduction area */

.main {
    display: grid;
    margin: 0 20px;
    text-align: center;
    grid-gap: 1rem;
}

.main .main-photo {
    padding: 20px;
}

.intro-one {
    display: grid;
}

.intro-one .intro--title {
    font-size: 25px;
    line-height: 1.5;
    padding: 10px;
}

.intro-one .intro-text {
    padding: 1rem 1.8rem;
}


.main .form-one {
    display: grid;
    grid-gap: 10px;
    padding: 1rem 1.8rem;
}

.form-row input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid;
    border-color: var(--very-dark-blue);
    border-radius: 2px;
    font-size: 12px;
    background: transparent;
}

.form-row button {
    background: var(--bright-blue);
    outline: none;
    padding: 10px 20px;
    width: 100%;
    border: 0;
    color: var(--light-grayish-blue);
    border-radius: 2px;
}

/* section-two */

.main-two {
    display: grid;
    padding: 0 20px 4rem 20px;
    grid-gap: 1rem;
    background: url('./images/bg-curve-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-two .main--photo {
    padding: 20px;

}

.main-two .intro--title-two {
    margin-bottom: 25px;
    font-size: 18px;
    text-align: center;
}

.link{
    text-align: center;
    margin: 3rem 0;
    font-size: 14px;
    
}

.link #link {
    padding: 5px 0;
    text-decoration: none;
    color: var(--moderate-cyan);
    border-bottom: 1px solid;
}


.link img {
    transform: translate(20%, 15%);
}

.quote--box {
    width: 90%;
    padding: 40px 20px 20px 20px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: var(--bs);
    background: url('./images/icon-quotes.svg');
    background-repeat: no-repeat;
    background-position-x: 7%;
    background-position-y: 10%;
    border-radius: 5px;
}

.quote--box .quote--text {
    line-height: 1.5;
    font-size: 11px;
}

.quote--title {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.quote--title .photo {
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.title--name .name--one {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.title--name .title--one {
    font-size: 9px;
    font-weight: 500;
}

/* pre-footer section */

.early {
    background-color: var(--desaturated-Blue);
    padding: 5rem 33px;
    display: grid;
    color: var(--light-grayish-blue);
}

.early .access--box {
    margin-bottom: 15px;
}

.access--box .early--intro {
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}

.access--box p {
    text-align: center;
}

.early .access--input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
}

.access--input .input--footer{
    margin-bottom: 7px;
    width: 100%;
}

.access--input .btn {
    width: 100%;
}

.input--footer input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid;
    border-color: #fff;
    border-radius: 2px;
    font-size: 12px;
    background: #fff;
}

.btn button {
    background: var(--bright-blue);
    outline: none;
    padding: 10px 20px;
    width: 100%;
    border: 0;
    color: var(--light-grayish-blue);
    border-radius: 2px
}


/* footer section */


footer {
    background-color: var(--very-dark-blue);
    padding: 4rem 3rem;
}

footer .footer--wrapper {
    display: grid;
    grid-gap: 15px;
    color: #fff;
}

.footer--wrapper .footer--logo {
    margin-bottom: 1rem;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.footer--info {
    margin-bottom: 1rem;
}

.footer--info .phone > img {
    margin-right: 10px;
    height: 13px;
}

.footer--info .phone > span {
    font-size: 15px;
}

.footer--info .email > img {
    margin-right: 10px;
    height: 13px;
}

.footer--info .email > span {
    font-size: 15px;
}

.footer--info > div + div {
    margin-top: 10px;
}

.footer--nav ul{
    list-style-type: none;
}

.footer--nav > ul + ul {
    margin-top: 1.2rem;
}

.footer--wrapper .social--media {
    text-align: center;
}

.social--media > .facebook, .twitter, .instagram {
    font-size: 20px;
}

.social--media > a + a {
    margin-left: 10px;
}

/* media queries */

@media (min-width:540px) {
    
    body, html {
        font-size: 15px;
    }

    .main form {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:720px) {
    body, html {
        font-size: 16px;
    }

    .wrapper {
        grid-gap: 3rem;
    }

    .main {
        grid-template-areas: 'one photo'
                            'form photo';
        grid-gap: 0;
    }

    .main-photo {
        grid-area: photo;
        padding: 0;
    }

    .main .main--photo {
        padding: 0;
    }

    .intro-one {
        grid-area: one;
    }

    .form-one {
        grid-area: form;
    }

    .form-row button {
        width: 50%;
        align-self: flex-start;
        transform: translateX(-50%);
    }

    .main-two {
        grid-template-areas: 'tex pic';
        grid-gap: 0;
    }

    .intro--text {
        grid-area: tex;
    }

    .main--photo {
        grid-area: pic;
    }

    .early {
        padding: 25px;
        grid-template-columns: repeat(2, 1fr);
    }

    .access--box .early--intro {
        text-align: left;
    }

}

@media (min-width: 960px) {
    body {
        font-size: 17px;
    }

    .main-two {
        background: url('./images/bg-curve-desktop.svg');
    }

    .early {
        padding: 2rem;
    }

    .early .access--input {
        align-items: flex-start;
    }
    .access--input .btn {
        width: 50%;
        
    }



    footer {
        padding: 25px;
    }

    footer .footer--wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .footer--logo {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .footer--info {
        grid-column: 1/2;
        grid-row: 2/-1;
    }

    .footer--nav {
        grid-column: 2/4;
        grid-row: 2/-1;
    }

    .social--media {
        grid-column: 4/-1;
        grid-row: 2/-1;
    }

    .footer--wrapper .footer--nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer--nav > ul + ul {
        margin-top: 0;
    }
}

@media (min-width:1440px) {
    body {
        font-size: 18px;
    }

    .wrapper {
        padding: 0 3rem;
    }

    .footer--wrapper .social--media {
    text-align: left;
}
}








